# Data Manipulation
pandas
numpy

# Natural Language Processing
nltk

# Machine Learning & Deep Learning
scikit-learn
tensorflow
keras

# Visualization (for plotting history and confusion matrix)
matplotlib
seaborn

# Utility
re
zipfile
os
